* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #f0f0f0;  */ 
    background-color: #8db5f0; 
  }
  
  .login-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    width: 300px; 
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%; 
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #2b66a4; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    margin-bottom: 15px; 
    transition: background-color 0.5s ease; /* Smooth hover transition */
  }
  
  button.login-btn:hover {
    background-color: #59a3f1; 
  }
  
  .login-container p {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Success message styling */
  #success-message {
    text-align: center;
    color: #4CAF50; /* Vibrant green color */
    font-weight: bold;
    margin-top: 20px;
  }
  #error-message {
    text-align: center;
    color: red; /* Vibrant red color */
    font-weight: bold; 
    margin-top: 0px; 
    margin-bottom: -5px; 
  }
  
  /* Initially hidden */
  .hidden {
    display: none;
  }
  body, html {
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }

  
/* Style for the left arrow button */
.left-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 160px;
  height: 50px;
  background-color: #c965e5;
  color: white; 
  display: flex;
  align-items: center;
  justify-content: center; 
  cursor: pointer;
  font-size: 18px;
  text-align: center; 
  border-radius: 25px; 
  padding-left: 0px; /* Create space for arrow effect */ 
  transition: background-color 0.5s ease; /* Smooth hover transition */
} 

.left-arrow:hover {
  background-color: #c389de; /* Darken the button on hover */
}

.left-arrow span {
  z-index: 1;
  position: relative;
}

